<link rel="stylesheet" href="app.css">

<h1>Welcome to my Home Page!</h1>

<% if(thingVar.toLowerCase() === "rusty"){ %>
    <p>Good choice?</p>
<% } else{ %>
    <p>Bad Choice! You should of typed Rusty</p>
<% } %>


<!-- 
<%= %> Render w/ html
<% %> Used for var 
-->

