<link rel="stylesheet" href="app.css">

<h1>The Posts Page!</h1>

<% for(var i = 0; i < posts.length; i++){ %>
    <li><%= posts[i].title %> - <strong><%= posts[i].author %></strong></li>
<% } %>

<p>Hello!, Hello? This is true! </p>

<% posts.forEach(function(post){ %>
<li>
    <%= post.title %> - <strong><%= post.author %></strong></li>
<% }) %>
